
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;

  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem 2rem;

  align-items: stretch;
}

.card {
  width: 100%;
  background: #111;
  border-radius: 16px;
  overflow: hidden;
  border: solid red ;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);

 
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease, box-shadow 0.4s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
  }

 
  &-image {
    height: 220px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  }

  &:hover img {
    transform: scale(1.08);
  }

 
  &-content {
    padding: 1.5rem;
    color: #fff;

    h3 {
      margin-bottom: 0.5rem;
      font-size: 1.2rem;
      font-weight: 600;
    }

    p {
      font-size: 0.95rem;
      opacity: 0.85;
      line-height: 1.4;
    }
  }
}
